# Retail Analysis

## Summary of the business
 45 stores located in different regions - each store contains a number of departments. The company runs several promotional markdown events throughout the year. These markdowns precede prominent holidays, the four largest of which are the Super Bowl, Labor Day, Thanksgiving, and Christmas. The weeks including these holidays are weighted five times higher in the evaluation than non-holiday weeks.

In [2]:
import pandas as pd

# Data Exploration

There are three csv files.
1. Features data set.csv
2. sales data-set.csv
3. stores data-set.csv

In [3]:
features_df = pd.read_csv('data/Features data set.csv')
sales_df = pd.read_csv('data/sales data-set.csv')
stores_df = pd.read_csv('data/stores data-set.csv')

## Stores

Anonymized information about the 45 stores, indicating the type and size of store

In [8]:
stores_df.columns

Index(['Store', 'Type', 'Size'], dtype='object')

In [9]:
stores_df.sample(3)

    Store Type    Size
36     37    C   39910
31     32    A  203007
25     26    A  152513

## Features

Contains additional data related to the store, department, and regional activity for the given dates.

    Store - the store number
    Date - the week
    Temperature - average temperature in the region
    Fuel_Price - cost of fuel in the region
    MarkDown1-5 - anonymized data related to promotional markdowns. MarkDown data is only available after Nov 2011, and is not available for all stores all the time. Any missing value is marked with an NA
    CPI - the consumer price index
    Unemployment - the unemployment rate
    IsHoliday - whether the week is a special holiday week

In [5]:
print(features_df.shape)
print(features_df.columns)

(8190, 12)
Index(['Store', 'Date', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
       'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment',
       'IsHoliday'],
      dtype='object')

In [10]:
features_df.sample(3)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
4017,23,07/05/2010,61.04,2.981,NaN,NaN,NaN,NaN,NaN,132.106200,5.435,False
3553,20,02/12/2011,46.32,3.452,10007.34,60.0,25959.98,6140.65,35675.62,211.639431,7.082,False
1139,7,31/12/2010,13.76,2.829,NaN,NaN,NaN,NaN,NaN,191.255700,9.137,True

## Sales

Historical sales data, which covers to 2010-02-05 to 2012-11-01. Within this tab you will find the following fields:

    Store - the store number
    Dept - the department number
    Date - the week
    Weekly_Sales -  sales for the given department in the given store
    IsHoliday - whether the week is a special holiday week

In [11]:
sales_df.sample(3)

        Store  Dept        Date  Weekly_Sales  IsHoliday
354226     38     4  02/09/2011      11099.28      False
240239     25    24  28/09/2012       3827.46      False
15775       2    41  15/06/2012       3256.38      False